@model HomeworkW5D2_New.AlbumTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AlbumTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlbumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtistTable.ArtistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistTable.ArtistName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenreTable.GenreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenreTable.GenreName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
